workflow-telegram-chatbot.json
{
  "name": "Atividade Kaue N8N",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "737f3d0e-8949-47fd-a99a-bb7e635a25af",
      "name": "Receber Mensagem",
      "webhookId": "dfa2512e-e88b-4f35-9576-dac24082ebac",
      "credentials": {
        "telegramApi": {
          "id": "INFORME API KEY TELEGRAM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "cityName": "={{ $json.data.text }}",
        "language": "ptbr"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        464,
        0
      ],
      "id": "0d5f275c-f673-457a-b729-34b10ff674ef",
      "name": "API WeatherMap",
      "retryOnFail": false,
      "notesInFlow": false,
      "executeOnce": false,
      "credentials": {
        "openWeatherMapApi": {
          "id": "INFORME API KEY OPENWEATHERMAP",
          "name": "OpenWeatherMap account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.message.chat.id }}",
        "message": "Olá, qual cidade gostaria de saber a previsão do tempo?",
        "responseType": "freeText",
        "options": {
          "responseFormTitle": "Aaaa"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "d8808bc6-d297-400f-96c9-efd3cb771fec",
      "name": "Perguntar a Cidade",
      "webhookId": "05b58dbb-63be-4fae-9444-5de17b063c31",
      "credentials": {
        "telegramApi": {
          "id": "INFORME API KEY TELEGRAM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "538b90b1-e829-49f4-8ea2-ec2d2ba54e5c",
              "name": "resposta",
              "value": "=A Previsão do Clima em *{{$json.name}}* é de *{{$json.main.temp.format('pt-BR')}}Cº*, mínima *{{ $json.main.temp_min.format('pt-BR')}}Cº* e máxima *{{ $json.main.temp_max.format('pt-BR') }}Cº*. Tenha um ótimo dia! ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        -16
      ],
      "id": "d55646dd-2d01-4b8c-9003-0101404eddd0",
      "name": "Escrever Saída"
    },
    {
      "parameters": {
        "chatId": "={{ $('Receber Mensagem').item.json.message.chat.id }}",
        "text": "=A cidade *{{ $('Perguntar a Cidade').item.json.data.text }}* não existe.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        224
      ],
      "id": "ba589b29-289b-43af-a588-1c84c1d56127",
      "name": "Mensagem Falha",
      "webhookId": "39983560-d031-4d04-a41d-acbee5dbe59e",
      "credentials": {
        "telegramApi": {
          "id": "INFORME API KEY TELEGRAM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Receber Mensagem').item.json.message.chat.id }}",
        "text": "={{ $json.resposta }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        -16
      ],
      "id": "df2afd17-c2ac-4471-b4d1-aa1d965dfb16",
      "name": "Mensagem Sucesso",
      "webhookId": "39983560-d031-4d04-a41d-acbee5dbe59e",
      "credentials": {
        "telegramApi": {
          "id": "INFORME API KEY TELEGRAM",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Receber Mensagem": {
      "main": [
        [
          {
            "node": "Perguntar a Cidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API WeatherMap": {
      "main": [
        [
          {
            "node": "Escrever Saída",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Falha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perguntar a Cidade": {
      "main": [
        [
          {
            "node": "API WeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escrever Saída": {
      "main": [
        [
          {
            "node": "Mensagem Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d265ad39-aa4b-4c2e-9821-15b52cbfaf90",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f1ce223f8d6fe74a95b402e696a143445b8bbe455c35467f04244ff096225508"
  },
  "id": "LL0unDmPcRBk4nqX",
  "tags": []
}